name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    rust-build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Install Rust
              uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
                  override: true
            - name: Build with Cargo
              run: make rust-build

    cpp-build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Install g++
              run: sudo apt-get update && sudo apt-get install -y g++
            - name: Build with g++
              run: make cpp-build
